<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>368613049521-1enejd6qgbf0h96uq5ac926n7kc806so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368613049521-1enejd6qgbf0h96uq5ac926n7kc806so</string>
	<key>API_KEY</key>
	<string>AIzaSyAU36Hi3k2MBNTCuA-25cynQYIgkJViY0E</string>
	<key>GCM_SENDER_ID</key>
	<string>368613049521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watu.android</string>
	<key>PROJECT_ID</key>
	<string>watu-20ee5</string>
	<key>STORAGE_BUCKET</key>
	<string>watu-20ee5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368613049521:ios:7b298927c2d15c50</string>
	<key>DATABASE_URL</key>
	<string>https://watu-20ee5.firebaseio.com</string>
</dict>
</plist>