page-check {
    .heading {
        color: black;
        font-size: 15px;
        text-align: center;
        margin-top: 65px;
        margin-left: 50px;
    }
    .picha {
        width: 200px;
        position: initial;
        margin-left: 30px
    }
}

.stylerr {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 2px;
    background-color: rgb(99, 134, 204);
    border-color: black;
    height: 40px;
    width: 40px;
}